@model TravelReviewSite.Models.Review

@{
    ViewBag.Title = "Details";
}

<h2>Review Details</h2>
<hr />

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div id ="cardText" class="card">
                <img src="~/photos/Image from iOS (4).jpg" alt="Avatar" style="width:100%">
                <div class="container">
                    @Html.DisplayNameFor(model => model.Category.City) : @Html.DisplayFor(model => model.Category.City)<BR />
                    @Html.DisplayNameFor(model => model.Title) : @Html.DisplayFor(model => model.Title)<BR />
                    @Html.DisplayNameFor(model => model.Content) : @Html.DisplayFor(model => model.Content)<BR />
                    @Html.DisplayNameFor(model => model.Author) : @Html.DisplayFor(model => model.Author)<BR />
                    @Html.DisplayNameFor(model => model.PublishDate) : @Html.DisplayFor(model => model.PublishDate)<BR />
                    <br /><br />

                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = Model.ReviewID }) |
                        @Html.ActionLink("Back to List", "Index")
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>